body
  font-family: sans-serif
  background-color: gray
  padding: 0px
  margin: 0px
  max-width: 100%
nav
  width: 100%
  float: left
  height: 80px
  background-color: white
  img
    float: left
  p
    float: left
  ul
    float: left
    display: inline-flex
    list-style-type: none
    a
      text-decoration: none

  li
    margin-left: 20px
#content
  height: 809px
  width: 100%
  img
    max-width: 100%
@media screen and (max-width: 610px)
  nav
    height: 140px
    ul
      display: inline-block
@media screen and (max-width: 1024px)
  img.two
    position: absolute
    left: 0px
    top: 140px

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
/* Styles */


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px)
/* Styles */


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px)
/* Styles */


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)

  img.two
    position: absolute
    left: 0px
    top: -50px


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2)
/* Styles */


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2)
/* Styles */

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px)
  img.two
    position: absolute
    left: 0px
    top: 290px

/* Large screens ----------- */
@media only screen  and (min-width : 1824px)
/* Styles */


/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2)
/* Styles */


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2)
/* Styles */


/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)
/* Styles */


@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)
/* Styles */


/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)
/* Styles */


@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)
/* Styles */


/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)
/* Styles */


@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)
/* Styles */


/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)
/* Styles */


@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)
/* Styles */


/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3)
/* Styles */


@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3)
/* Styles */


/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3)
/* Styles */


@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3)
